name: Docker deploy

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  buildx:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2
        with:
          version: latest
          
      - name: Login to Docker Hub
        run: docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Run Buildx
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64,linux/386,linux/arm/v7,linux/arm/v6 \
            --push . \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/caddy-ionos-dns:latest \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/caddy-ionos-dns:${{ github.ref_name }}
